name: Daily

# Build, run tests and push to docker hub (if upstream changed in the last day)
on:
  # run daily
  schedule:
    - cron:  '14 14 * * *'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Check Upstream
        id: check-upstream
        run: |
          LAST_PUSHED=$(curl -s -X GET https://hub.docker.com/v2/repositories/linuxserver/smokeping/tags/latest | jq -r ".tag_last_pushed")
          if [ $(date --date "${LAST_PUSHED}" +'%s') -ge $(date --date "1 days ago" +'%s') ]; then
            echo "Upstream changed, building image"
            echo "::set-output name=upstream::changed"
          else
            echo "No upstream change, skipping"
          fi

      - name: Checkout
        uses: actions/checkout@v3
        if: steps.check-upstream.outputs.upstream == 'changed'

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2
        if: steps.check-upstream.outputs.upstream == 'changed'

      - name: Cache Docker layers
        uses: actions/cache@v3
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-
        if: steps.check-upstream.outputs.upstream == 'changed'

      - name: Test
        id: docker_test
        uses: docker/build-push-action@v3
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: ./
          file: ./Dockerfile
          target: test
        if: steps.check-upstream.outputs.upstream == 'changed'

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}
        if: steps.check-upstream.outputs.upstream == 'changed'

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v3
        with:
          context: ./
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/smokeping-speedtest:latest
        if: steps.check-upstream.outputs.upstream == 'changed'
